* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}


.game-container {
    width: min(95vw, 500px);
    background: lightyellow;
    padding: 1rem;
}

#game-board {
    width: 100%;
    aspect-ratio: 1;

    display: grid;
    background:pink;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    border: 3px solid #222;
}

.cell {
    border: 1px solid #ddd;
}

.snake {
    background: rgb(109, 130, 223);
}

.head {
    background: rgb(227, 89, 172);
}